head
  link(
    href='/css/prism.css'
    rel='stylesheet'
    type='text/css'
  )
  link(
    href='/css/styles.css'
    rel='stylesheet'
    type='text/css'
  )
  block styles
  link(
    href='/img/logo.png'
    rel='shortcut icon'
    type='image/png'
  )
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1'
  )
  meta(
    name='description'
    content='Accessible Custom Elements (ACE) is a library of custom elements that conform to the W3 WAI-ARIA Authoring Practices 1.1.'
  )
  title ACE - Accessible Custom Elements
