header(class='header')
	div.header__left
		a(
			aria-label='Go to ACE home page'
			class='header__lockup'
			href='/'
		)
			img(
				alt='Potato logo'
				class='header__lockup-img'
				src='/img/logo.svg'
			)
			span(class='header__lockup-text') ACE

	div.header__right
		a(
			class='header__skip'
			href='#article'
		) Skip to main content
		a(
			aria-label="See the repo on GitLab"
			href="https://gitlab.com/potato-oss/ace/ace"
			target="_blank"
		)
			img(
				alt='GitLab logo'
				class='header__actions-item'
				role="presentation"
				src='/img/gitlab.svg'
			)

		button(
			aria-label="Open sidenav"
			class="header__sidebar-btn u-only-handheld"
			sidebar-btn
		)
