header(class='header')
  a(
    aria-label='Go to home page'
    class='lockup'
    href='/'
  )
    img(
      alt='Potato logo'
      class='lockup__img'
      src='/img/logo.svg'
    )
    span(class='lockup__text') ACE

  button(
    aria-label="Open sidenav"
    class="header__sidebar-btn"
    sidebar-btn
  )
