header
  a(
    aria-label='Go to home page'
    class='lockup'
    href='/'
  )
    img(
      class='lockup__img'
      src='/img/logo.svg'
      alt='Potato logo'
    )
    span(class='lockup__text') ASCE
