- var title = 'ACE - Accessible Custom Elements'
- var description = 'ACE (Accessible Custom Elements) is a library of customisable UI components that conform to the W3 WAI-ARIA Authoring Practices for accessibility'

meta(
	name='charset'
	content='UTF-8'
)
meta(
	name='viewport'
	content='width=device-width, initial-scale=1'
)

title= title
meta(
	name='description'
	content= description
)
meta(
	name='author'
	content='Potato'
)

//- OG Meta data
meta(
	name='og:title'
	content= title
)
meta(
	name='og:description'
	content= description
)
meta(
	name='og:type'
	content='website'
)
meta(
	name='og:url'
	content='https://ace.p.ota.to'
)
meta(
	name='og:image'
	content='https://ace.p.ota.to/img/og-img.jpg'
)
meta(
	name='og:image:url'
	content='https://ace.p.ota.to/img/og-img.jpg'
)
meta(
	name='og:image:secure_url'
	content='https://ace.p.ota.to/img/og-img.jpg'
)
meta(
	name='og:image:type'
	content='image/jpeg'
)
meta(
	name='og:image:width'
	content='1200'
)
meta(
	name='og:image:height'
	content='630'
)
meta(
	name='og:image:alt'
	content='ACE components webpage'
)

//- Twitter OG Meta
meta(
	name='twitter:card'
	content='summary_large_image'
)
meta(
	name='twitter:title'
	content= title
)
meta(
	name='twitter:description'
	content= description
)
meta(
	name='twitter:site'
	content='@PotatoStudios_'
)
meta(
	name='twitter:image'
	content='https://ace.p.ota.to/img/og-img.jpg'
)
