mixin component(key, component)
  li(class="component-list__component")
    h2=component.name
    if component.aliases
      p
        strong=`Alias${component.aliases.length > 1 ? 'es' : ''}: `
        =`${component.aliases.join(', ')}.`

    a(href=`/${key}` class="component-list__component-link")
      img(alt=`${component.name} in action` class="component-list__component-img" src=`/img/${key}/${key}.gif`)
