mixin component(comp, name, aliases)
  li(class="component-list__component")
    h2=name
    if aliases
      p
        strong=`Alias${aliases.length > 1 ? 'es' : ''}:`
        span=` ${aliases.join(', ')}.`

    a(href=`/${comp}` class="component-list__component-link")
      img(alt=`${name} in action` class="component-list__component-img" src=`/img/${comp}/${comp}.gif`)
